$blue-color: #008BAC;
$body-font-color: #656565;
$details-font-color: #333333;
$link-font-color: #1E4A62;
$hero-button-hover-color: #f0f0f0;
$hero-button-color: #fafafa;
$green: #8BB036;
$light-border-color: #DCDCDC;
$atsauksmes-background: #EFF2F3;
$header-background-color: #085466;
$footer-background-color: #135368;