button{
    height: 100%;
    border-radius: 20px;
    border: 0;
    background-color: $green;
    color: #fff;
}
.form-control{
    border-radius: 20px 0px 0px 20px;
    font-size: 0.8em;
    font-style: italic;
    
}
.input-group{
    
    height: 50px;
}
.input-group-btn{
    margin-left: -20px;
    z-index: 99;
    border: 0;
    font-size: 0.9em;
    
}